
$primary: #0967C9;
$secondary: #E51141;
$success: #11C31C;
$info: #F09814;
$warning: #F0E438;
$error: #CB0007;
$dark: #2E3136;
$default: #A6AFC3;

$primary-light: #408FE3;
$secondary-light: #FF6E8F;
$success-light: #75DD7B;
$info-light: #F3B860;
$warning-light: #F3ED90;
$error-light: #EC4D49;
$dark-light: #656A76;
$default-light: #F9F9F7;



$breakpoint-sm:640px;
$breakpoint-md:768px;
$breakpoint-lg:1024px;
$breakpoint-xs:1280px;
$breakpoint-2xl:1536px;
