$gray: #A6AFC3;
$gray2: #F9F9F7;
$dark: #2E3136;
$dark2: #656A76;
$blue: #0967C9;
$blue2: #408FE3;
$yellow: #F0E438;
$yellow2: #F3ED90;
$orange: #F09814;
$orange2: #F3B860;
$green: #11C31C;
$green2: #75DD7B;
$pink: #E51141;
$pink2: #FF6E8F;
$red: #CB0007;
$red2: #EC4D49;


$breakpoint-sm:640px;
$breakpoint-md:768px;
$breakpoint-lg:1024px;
$breakpoint-xs:1280px;
$breakpoint-2xl:1536px;
