@import './variables.scss';

.customButton {

	display: inline-block;

	&__regular {
		padding: 8px 20px;
		border-radius: 10px;
		color: white;

		&:hover {
			opacity: 0.9;
		}

		&:active {
			transform: scale(1.01);
			transition: all;
			transition-duration: 1000;
			transition-property: ease-in-out;
		}
	}

	&__outline {
		padding: 8px 20px;
		border-radius: 10px;

		&:hover {
			opacity: 0.9;
		}

		&:active {
			transform: scale(1.01);
			transition: all;
			transition-duration: 1000;
			transition-property: ease-in-out;
		}
	}

	&__icon {
		padding: 8px 12px;
		border-radius: 10px;
		justify-content: center;
		align-items: center;
		display: flex;
		&:hover {
			opacity: 0.9;
		}

		&:active {
			transform: scale(1.01);
			transition: all;
			transition-duration: 1000;
			transition-property: ease-in-out;
		}
	}

	&__regular {
		&-default {
			background: linear-gradient(190deg, $default-light 0%, $default 100%)!important;
		}

		&-dark{
			background: linear-gradient(190deg, $dark-light 0%, $dark 100%)!important;
		}

		&-primary{
			background: linear-gradient(190deg, $primary-light 0%, $primary 100%)!important;
		}

		&-secondary{
			background: linear-gradient(190deg, $secondary-light 0%, $secondary 100%)!important;
		}

		&-success{
			background: linear-gradient(190deg, $success-light 0%, $success 100%)!important;
		}

		&-info{
			background: linear-gradient(190deg, $info-light 0%, $info 100%)!important;
		}

		&-warning {
			background: linear-gradient(190deg, $warning-light 0%, $warning 100%)!important;
		}

		&-error{
			background: linear-gradient(190deg, $error-light 0%, $error 100%)!important;
		}
	}

	&__outline {
		&-default {
			border: 1px $default solid;
			color: $default;
		}

		&-dark{
			border: 1px $dark solid;
			color: $dark;
		}

		&-primary{
			border: 1px $primary solid;
			color: $primary;
		}

		&-secondary{
			border: 1px $secondary solid;
			color: $secondary;
		}

		&-success{
			border: 1px $success solid;
			color: $success;
		}

		&-info{
			border: 1px $info solid;
			color: $info;
		}

		&-warning {
			border: 1px $warning solid;
			color: $warning;
		}

		&-error{
			border: 1px $error solid;
			color: $error;
		}
	}

	&__icon {
		&-default {
			border: 1px $default solid;
			color: $default;
		}

		&-dark{
			border: 1px $dark solid;
			color: $dark;
		}

		&-primary{
			border: 1px $primary solid;
			color: $primary;
		}

		&-secondary{
			border: 1px $secondary solid;
			color: $secondary;
		}

		&-success{
			border: 1px $success solid;
			color: $success;
		}

		&-info{
			border: 1px $info solid;
			color: $info;
		}

		&-warning {
			border: 1px $warning solid;
			color: $warning;
		}

		&-error{
			border: 1px $error solid;
			color: $error;
		}
	}




}



