@import './variables.scss';

// Botones
.btn {   
   &-primary{ 
      background: linear-gradient(190deg, $dark2 0%, $dark 100%)!important;
      color: white;
   }
   &-secondary{ 
      background: linear-gradient(190deg, $blue2 0%, $blue 100%)!important;
      color: white;
   }
   &-success{ 
      background: linear-gradient(190deg, $green2 0%, $green 100%)!important;
      color: white;
   }
   &-danger{ 
      background: linear-gradient(190deg, $red2 0%, $red 100%)!important;
      color: white;
   }
   &-warning{ 
      background: linear-gradient(190deg, $orange2 0%, $orange 100%)!important;
      color: white;
   }
 
 
   &-primary-outline{
      background-color: transparent;
      color: $dark2;
      border: 1px $dark2 solid;
   }
   
   &-secondary-outline{
      background-color: transparent;
      color: $blue2;
      border: 1px $blue2 solid;
   }
 
}
 
 button {
   position: relative;
   overflow: hidden!important;
   transition: background 400ms;
 }
 
 span.ripple {
   position: absolute;
   border-radius: 50%;
   transform: scale(0);
   animation: ripple 600ms linear;
   background-color: rgba(255, 255, 255, 0.7);
   z-index: 100000;
 }
 
 @keyframes ripple {
   to {
     transform: scale(4);
     opacity: 0;
   }
 }
