@import './variables.scss';


.listEffect_item{
    animation-name: change;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}


@keyframes change {
    0%, 100%{
        transform: translate3d(0, 0, 0);
    }
    30%, 40%{
        transform: translate3d(0, -100%, 0);
    }
    60%, 70%{
        transform: translate3d(0, -200%, 0);
    }
}


