@import './variables.scss';



.quill {

    
    .ql-snow{
        transition: all .5s ease-in-out;
        border: 0;
    }

    .ql-toolbar{
        display: none;
    }

    p{
        color: rgba(101, 106, 118, .5);
        font-weight: lighter;
    }

    &:focus-within, &:hover {
        border-width: 1px;
        border-color: rgba(101, 106, 118, .2);
        border-radius: 10px;

        p{
            color: rgba(101, 106, 118, 1);
        }

        .ql-toolbar{
            display: block;
        }
    }
    
}

