@import './variables.scss';



.quill {
    border-width: 1px;
    border-color: rgba(101, 106, 118, .2);
    border-radius: 10px;
    color: $default;
    transition: all .3s ease-in-out;
    
    .ql-snow{
        transition: all .3s ease-in-out;
        border: 0;
    }

    &:focus-within, &:hover {
        color: $dark;
    }
    
}

