@import 'antd/dist/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&family=Playfair+Display&display=swap');
@import './assets/scss/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '../node_modules/smart-webcomponents-react/source/styles/smart.default.css';


#root{
    min-height: 100vh;
}

html{
  scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: $dark $default-light;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 10px;
  }
  
  *::-webkit-scrollbar-track {
	background: $default-light;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: $dark;
	border-radius: 20px;
	border: 2px solid $default-light;
  }


h1, h2, h3, h4{

	color: $dark-light;
    letter-spacing: 0.04em;
}

p, li, span, a{
    @apply text-base 
}


::placeholder, .ant-select-selection-placeholder{
    font-weight: 300;
    color: #999;
    opacity: 1;
    font-size: 14px;
}


/* Override Antd CSS */
.ant-collapse .ant-collapse-item  .ant-collapse-header{
	color:#242a38;
	font-weight: bold;
	opacity: 0.9;
	font-size: large;
	font-family: 'Playfair Display', serif;
}


/* Nuevos CSS */
.h-sider{
	height: calc(100vh - 56px);
}



.gradient-black{
//   background: linear-gradient(190deg, #42424A 1.34%, #191919 100%);
	background: #656a76;
	background: -webkit-linear-gradient(190deg, #656a76 0%, #2e3136 50%, #2e3136 100%);
	background: linear-gradient(190deg, #656a76 0%, #2e3136 50%, #2e3136 100%);
}


.divider{
    flex-shrink: 0;
	border-top: 0px solid rgba(0, 0, 0, 0.08);
	border-right: 0px solid rgba(0, 0, 0, 0.08);
	border-left: 0px solid rgba(0, 0, 0, 0.08);
	height: 1.5px;
	border-bottom: none;
	background-color: transparent;
	opacity: 0.25;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0)) !important;
}

.divider-2{
	flex-shrink: 0;
	border-top: 0px solid rgba(0, 0, 0, 0.12);
	border-right: 0px solid rgba(0, 0, 0, 0.12);
	border-left: 0px solid rgba(0, 0, 0, 0.12);
	background-color: transparent;
	height: 0.0625rem;
	margin: 1rem 0px;
	border-bottom: none;
	opacity: 0.25;
	background-image: linear-gradient(to right, rgba(52, 71, 103, 0), rgba(52, 71, 103, 0.4), rgba(52, 71, 103, 0)) !important;
}

.sidebar-h{
	height: calc(100vh - 1.5rem);
}


.layout-size-90{
	@media (min-width: $breakpoint-sm) {
		max-width: calc(100% - 90px);
	}
}

.layout-size-260{
	@media (min-width: $breakpoint-sm) {
		max-width: calc(100% - 260px);
	}
}


.ant-switch{
	@apply bg-devarana-graph
}
.ant-switch-checked{
	@apply bg-black
}

.glassMorph{
	background: rgba(255,255,255,0.5);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255,255,255,0.25);
}

.ant-collapse-header{
    .ant-collapse-expand-icon{
        display: flex;
        margin: auto 2px;
        
    }
}


.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #fff!important;
  }
  
  
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
      color: rgba(255, 255, 255, 0.45)!important;
  }
  
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
      color: #fff!important
  }
  
  .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
      background-color: #fff!important;
  }
  
  .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
      background: rgba(255, 255, 255, 0.25)!important;
  }
  
  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
      background: #fff!important;
  }
  
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after {
      background: rgba(255, 255, 255, 0.25)!important;
  }
  
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
      background: #fff!important;
  }
  
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
      background: rgba(255, 255, 255, 0.25)!important;
  }


    .ant-avatar-string{
        position: unset;
    }
    .ant-image-preview-img{
        display: unset!important;
    }




//   Menu Theme Mode


.menu_sidebar{
    .nav-link{
        @apply hover:bg-opacity-50 rounded-xl py-2 w-full text-white hover:bg-white hover:text-devarana-graph;
        &.active span {
            @apply text-devarana-blue
        }
    }
    .svg-icon{
        @apply fill-white hover:fill-devarana-graph; 
    }
    .active .svg-icon:not(.brand){
        @apply fill-devarana-blue 
    }

}

.ant-pagination li{
    display: grid!important;
    align-items: center!important;
}


// Tabble
.ant-table-cell{
    background-color: transparent!important;

    &::before{
        content: none!important;
    }

}

.tableTitlePrincipal{
    @apply text-devarana-graph font-medium;
    font-size: 14px;
}

.tableTitle {
    @apply text-devarana-graph font-medium;
    font-size: 12px;
}

// Eliminar
.ant-table-thead th {
    color: #848891!important;
    @apply font-bold;
    font-size: 11px;
}

.progressStyle {
    .ant-progress-text{
        translate: -15px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        text-shadow: 1 0 1px #fff
    }

    .ant-progress-outer{
        padding-left:  0!important;
        padding-right:  0!important;
    }

    .ant-progress-bg{
        background-color: transparent!important;
    }
}
.ant-alert-error{
    margin: 10px 0;
}


.ck-editor__top.ck-editor__toolbar.hidden {
    display: none;
}


label{
    color: rgba(132, 136, 145, 1)!important;
    font-size: 14px!important;
    font-weight: 500!important;
}

input, textarea {
    color: #848891!important;
    font-weight: 300;
    // font-size: 14px!important;
}


.editableForm {
    .ant-input[disabled],
    .ant-select[disabled], .ant-select-disabled, .ant-select-disabled .ant-select-selection-item,
    .ant-picker-disabled .ant-picker-input input, .ant-picker-disabled, .ant-select-selector{
        color: #848891 !important;
        cursor: default!important;
        opacity: 1;
    }
}


.formInput {
    color: #848891 !important;
    padding: 2px 0!important;

}


.customInput{
    &.ant-input {
        border-color: transparent;
        box-shadow: none;
        background-color: transparent;
        // color: inherit;
        // font-size: inherit;
        line-height: inherit;
    }

    &__title{
        @apply text-devarana-midnight text-2xl font-bold pl-0
    }


    &.ant-input:focus, &.ant-input-focused, &.ant-input:hover, &.ant-input-active {
        box-shadow: none;
        outline: none;
    }
    &:hover, &:focus, &:active {
        @apply border border-devarana-graph border-solid border-opacity-20 transition-all ease-in-out duration-500;
    }
}


.customSelect {

}

.customPicker {
    
}


.customGantt{
    .label {
        position: relative!important;
        top: unset!important;
        text-align: center!important;
        margin: auto!important;        
    }
}


.customTable{
    .ant-table {
        border-radius: 10px;

        .ant-table-thead tr th{
            padding: 16px 16px!important;
        }

        .ant-table-tbody .ant-table-cell {
            padding: 10px 16px!important;
        }

        .ant-table-footer{
            background: transparent!important;
            padding: 10px 16px!important;
        }
        
    }
}

.ant-breadcrumb a:hover{
    color: unset;
    background-color: unset;
    @apply hover:text-devarana-dark-graph hover:bg-none text-devarana-blue;
}


.scroller-container{

    overflow: hidden;
    width: 100%;
    margin: 0 auto;	
    position: relative;
	display: flex;

    .scroller{
        animation: carousel 60s linear infinite;
        display: flex;
        position: relative;
        justify-content: space-around;

        .scroller-item{
            display: block;
            margin: 0 1vw;
        }
    }
    
    
    
    
}



@keyframes carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}

.scroller-container:hover .scroller {
    animation-play-state: paused;
}


.ant-radio-input, .ant-radio-inner, .ant-radio-wrapper-disabled,
.ant-checkbox-input, .ant-checkbox-inner, .ant-checkbox-wrapper-disabled,
.ant-date-picker-input input, .ant-picker-input input, .ant-picker-disabled, .ant-picker-disabled .ant-picker-input input,
.ant-select .ant-select-selector, .ant-select-disabled .ant-select-selector, .ant-select-disabled .ant-select-selector:hover,
.ant-input-disabled
{
    cursor: default!important;
    opacity: 1;
}

.ant-picker.ant-picker-disabled{
    background-color: transparent!important;
}

.ant-radio-wrapper .ant-radio-disabled .ant-radio-inner{
    background-color: transparent!important;
}

.ant-radio-wrapper .ant-radio-disabled .ant-radio-inner::after{
    background-color: #1677ff!important;
}

.ant-checkbox-disabled .ant-checkbox-inner{
    background-color: transparent;

}

.ant-checkbox-checked .ant-checkbox-inner{
    background-color: #1677ff;
    border-color: #1677ff;
}

.ant-checkbox-disabled .ant-checkbox-inner:after{
    border-color: white!important;
}

.ant-checkbox-disabled+span{
    color: #848891!important;
}

textarea.ant-input-borderless[disabled]{
    background-color: #F9F9F7!important;
}

.antd-img-crop-modal {

    .ant-modal-footer{
      
        button.ant-btn-default{
            display: none;
        }

        button.ant-btn-primary{
            background: linear-gradient(190deg, $dark-light 0%, $dark 100%)!important;
            border: none;
            color: white!important;
        }

    }
}

// Quill
.richText p, .richText li, .richText span, .richText strong, .richText{ 
    color: $dark-light !important;
}