@import 'antd/dist/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
// @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&family=Playfair+Display&display=swap');
@import './assets/scss/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



#root{
    min-height: 100vh;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: $dark $gray2;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 10px;
  }
  
  *::-webkit-scrollbar-track {
	background: $gray2;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: $dark;
	border-radius: 20px;
	border: 2px solid $gray2;
  }


h1, h4{
	font-weight: bold;
	@apply text-custom-dark2
}

h2{
	font-weight: 300;
	@apply text-custom-dark2
}

h3, h5{
	font-weight: 300;
	@apply text-custom-gray
}

p, li, span, a{
    @apply text-base 
}


::placeholder, .ant-select-selection-placeholder{
    font-weight: 300;
    color: #999;
    opacity: 1;
    font-size: 14px;
}


/* Override Antd CSS */
.ant-collapse .ant-collapse-item  .ant-collapse-header{
	color:#242a38;
	font-weight: bold;
	opacity: 0.9;
	font-size: large;
	font-family: 'Playfair Display', serif;
}


/* Nuevos CSS */
.h-sider{
	height: calc(100vh - 56px);
}



.gradient-black{
//   background: linear-gradient(190deg, #42424A 1.34%, #191919 100%);
	background: #656a76;
	background: -webkit-linear-gradient(190deg, #656a76 0%, #2e3136 50%, #2e3136 100%);
	background: linear-gradient(190deg, #656a76 0%, #2e3136 50%, #2e3136 100%);
}


.divider{
    flex-shrink: 0;
	border-top: 0px solid rgba(0, 0, 0, 0.08);
	border-right: 0px solid rgba(0, 0, 0, 0.08);
	border-left: 0px solid rgba(0, 0, 0, 0.08);
	height: 1.5px;
	border-bottom: none;
	background-color: transparent;
	opacity: 0.25;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0)) !important;
}

.divider-2{
	flex-shrink: 0;
	border-top: 0px solid rgba(0, 0, 0, 0.12);
	border-right: 0px solid rgba(0, 0, 0, 0.12);
	border-left: 0px solid rgba(0, 0, 0, 0.12);
	background-color: transparent;
	height: 0.0625rem;
	margin: 1rem 0px;
	border-bottom: none;
	opacity: 0.25;
	background-image: linear-gradient(to right, rgba(52, 71, 103, 0), rgba(52, 71, 103, 0.4), rgba(52, 71, 103, 0)) !important;
}

.sidebar-h{
	height: calc(100vh - 1.5rem);
}


.layout-size-90{
	@media (min-width: $breakpoint-sm) {
		max-width: calc(100% - 90px);
	}
}

.layout-size-260{
	@media (min-width: $breakpoint-sm) {
		max-width: calc(100% - 260px);
	}
}


.ant-switch{
	@apply bg-custom-gray2
}
.ant-switch-checked{
	@apply bg-custom-dark
}

.glassMorph{
	background: rgba(255,255,255,0.5);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255,255,255,0.25);
}

.ant-collapse-header{
    .ant-collapse-expand-icon{
        display: flex;
        margin: auto 2px;
        
    }
}


.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #fff!important;
  }
  
  
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
      color: rgba(255, 255, 255, 0.45)!important;
  }
  
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
      color: #fff!important
  }
  
  .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
      background-color: #fff!important;
  }
  
  .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
      background: rgba(255, 255, 255, 0.25)!important;
  }
  
  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
      background: #fff!important;
  }
  
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after {
      background: rgba(255, 255, 255, 0.25)!important;
  }
  
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
      background: #fff!important;
  }
  
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
      background: rgba(255, 255, 255, 0.25)!important;
  }


    .ant-avatar-string{
        position: unset;
    }
    .ant-image-preview-img{
        display: unset!important;
    }




//   Menu Theme Mode


.menu_sidebar{
    .nav-link{
        @apply hover:bg-opacity-50 rounded-xl py-2 w-full  dark:text-white text-devarana-blue dark:hover:bg-white hover:bg-devarana-blue dark:hover:text-devarana-graph hover:text-white;
        &.active span {
            @apply dark:text-devarana-blue text-devarana-blue
        }
    }
    .svg-icon{
        @apply dark:fill-white fill-devarana-blue dark:hover:fill-devarana-graph hover:fill-white; 
    }
    .active .svg-icon:not(.brand){
        @apply dark:fill-devarana-blue fill-devarana-blue 
    }

}

.ant-pagination li{
    display: grid!important;
    align-items: center!important;
}


// Tabble
.ant-table-cell{
    background-color: transparent!important;

    &::before{
        content: none!important;
    }

}

.ant-table-thead th {
    color: #848891!important;
    @apply uppercase font-bold;
    font-size: 11px;
}

.progressStyle {
    .ant-progress-text{
        translate: -10px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        text-shadow: 1 0 1px #fff
    }

    .ant-progress-outer{
        padding-left:  0!important;
        padding-right:  0!important;
    }

    .ant-progress-bg{
        background-color: transparent!important;
    }
}
.ant-alert-error{
    margin: 10px 0;
}


.ck-editor__top.ck-editor__toolbar.hidden {
    display: none;
}